html, body {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
}
body, .article {
  font-size: 3sx; /* Must be an integer */
  line-height: auto;
}
/* Headings */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: var(--font-headlines);
}
h1, .h1 {
  font-size: 5sx; /* Must be an integer */
  line-height: 3gr;
  margin: 4gr 0;
}
h2, .h2 {
  font-size: 4sx; /* Must be an integer */
  line-height: 4gr;
  margin: 2gr 0;
}
h3, .h3 {
  font-size: 3sx; /* Must be an integer */
  line-height: 3gr;
  margin: 2gr 0;
}
h4, .h4 {
  font-size: 2sx; /* Must be an integer */
  line-height: 2gr;
  margin: 2gr 0;
}
h5, .h5 {
  font-size: 1sx; /* Must be an integer */
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1gr;
  margin: 2gr 0;
}
h6, .h6 {
  font-size: 0sx; /* Must be an integer */
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 0gr;
  margin: 2gr 0;
}
/* Others */
p, ul, ol, pre, table, blockquote {
  margin: 4gr 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
small {
  font-size: 1sx;
}
