html, :root {
    /* Fonts */
    --font-family: "mrs-eaves-xl-serif", serif;
    --font-headlines: "ff-meta-headline-web-pro-con", sans-serif;
    /* Vertical Rythym */
    --base-font-size: 10px; /* Must be in pixels */
    --base-line-height: 1.3; /* Must be a decimal number */
    --base-scale-factor: 1.618; /* Must be a decimal number */
    --base-units: px; /* px, rem, em */
    /* colors */
    --color: rgb(0, 0, 0);
    --color-gold: rgb(250, 180, 20);
    --color-blue: rgb(25, 45, 90);
    --color-black: rgb(0, 0, 0);
    --color-foam: rgb(248, 240, 200);
    /* Font Weights */
    --weight-bold: 700;
    --weight-black: 900;
    /* font sizes */
    --font-xsmall: 0.5em;
    --font-small: 1em;
    --font-medium: 2em;
    --font-large: 4em;
    --font-xlarge: 7em;
    /* spacing */
    --xsmall: 0.25em;
    --small: 0.5em;
    --medium: 2em;
    --large: 4em;
    --xlarge: 6em;
}
