<header>
  <h1><a href="{{ .Site.BaseURL }}">_&copy;</a></h1>
  <nav>
    <ul>
      <li><a href="{{ .Site.BaseURL }}brand">Brand</a></li>
      <li><a href="{{ .Site.BaseURL }}documentation">Documentation</a></li>
      <li><a href="{{ .Site.BaseURL }}about">About</a></li>
      <li><strong>Share</strong></li>
      <li><a href="https://www.instagram.com//">Instagram</a></li>
      <li><a href="https://www.facebook.com/21stAmendment">Facebook</a></li>
      <li><a href="https://twitter.com/21stAmendment">Twitter</a></li>
    </ul>
  </nav>
</header>
