<header>
  <h1 class="logo"><a href="{{ .Site.BaseURL }}">_<sup>&copy;</sup></a></h1>
  <nav>
    <ul>
      <li><a href="{{ .Site.BaseURL }}read-me">Read Me</a></li>
      <li><a href="{{ .Site.BaseURL }}brand-guide">Brand Guide</a></li>
      <li><a href="{{ .Site.BaseURL }}developer-guide">Developer Guide</a></li>
      <li><strong>Share</strong></li>
      <li><a href="https://www.instagram.com//">Instagram</a></li>
      <li><a href="https://www.facebook.com/21stAmendment">Facebook</a></li>
      <li><a href="https://twitter.com/21stAmendment">Twitter</a></li>
    </ul>
  </nav>
</header>
